* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    background-color: #257730d1;
    align-items: center;
    padding: 7px;
    color: #fff;
}

.navbar .logo img{
    width: 70px;
    height:50px;
    border-radius:120px;
}

.navbar p{
    margin-left: 400px;
    font-size: 24px;
    font-weight: bold;
    margin-right: 280px;
    
}
.navbar p:hover{
    transform: scale(1.5,1.5);
}

.navbar .menu{
    list-style: none;
    display: flex;
    margin: 5px 10px;
}

.menu li{
    padding:7px 15px;
    margin-right: 20px;
    cursor: pointer;
}

li:hover{
    background-color: #2e8738;
    color: #c4c1c1;
    border-radius: 5px;
}

.slideimage{
    width: 50vw;
    height: 400px;
    margin: 10px 300px 10px 300px;
    display: none;
}

.active{
    display: block;
}

.alert{
    background-color: #3c9c48;
    display: flex;
    padding: 10px 10px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    animation: scroll 10s linear infinite;
    text-align: center;
}

.alert p{
    margin:5px 50px;
}

/* @keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
} */


.content{
    margin-top: 30px;
}

.content .tittle{
    padding: 10px 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}

.content .images{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .images img{
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin: 10px 50px;
    cursor: pointer;
}

.content .images p{
    background-color: #dbd7d7;
    font-size: 18px;
    font-weight: 700;
    margin:10px 70px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 20px;
}

.content .images img:hover{
    transform: scale(1.2,1.2);
}