* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    background-color: #257730d1;
    align-items: center;
    padding: 7px;
    color: #fff;
}

.navbar .logo img{
    width: 70px;
    height:50px;
    border-radius:120px;
}

.navbar p{
    margin-left: 400px;
    font-size: 24px;
    font-weight: bold;
    margin-right: 280px;
    
}
.navbar p:hover{
    transform: scale(1.5,1.5);
}

.navbar .menu{
    list-style: none;
    display: flex;
    margin: 5px 10px;
}
.menu sup{
    padding: 2px;
}
.menu li a:link, .menu li a:visited{
    padding:7px 15px;
    margin-right: 20px;
    cursor: pointer;
    color:#fff;
    text-decoration: none;
}

.menu li a:hover{
    background-color: #2e8738;
    color: #c4c1c1;
    border-radius: 5px;
}

.slideimage{
    width: 50vw;
    height: 400px;
    margin: 10px 300px 10px 300px;
    display: none;
}

.active{
    display: block;
}

.alert{
    background-color: #3c9c48;
    display: flex;
    padding: 10px 10px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    animation: scroll 10s linear infinite;
    text-align: center;
}

.alert p{
    margin:5px 50px;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}


.content{
    margin-top: 30px;
}

.content .tittle{
    padding: 10px 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}

.content .images{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .images img{
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin: 10px 50px;
    cursor: pointer;
}

.content .images p{
    background-color: #dbd7d7;
    font-size: 18px;
    font-weight: 700;
    margin:10px 70px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 20px;
}

.content .images img:hover{
    transform: scale(1.2,1.2);
}

.fotter{
    background-color: #393636;
    color: #fff;
    padding: 10px 20px;
    margin-top: 30px;
}

.contactDetails{
    background-color: #d8d7d7;
    margin-top: 5px;
    color: #000;
    padding: 10px;
    display: none;
}

.contactDetails i{
    padding-right: 5px;
    color: #393838;
}

.contactDetails a:link, .contactDetails a:visited{
    text-decoration: none;
    color: #000;
}
.fotter .title{
    font-size: 18px;
    font-weight: 800;
    padding: 10px;
}

.fotter ul{
    list-style: none;
    text-align: left;
    font-size: 14px;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fotter ul .list{
    margin:0px 30px;
}
.fotter ul li{
    margin-bottom: 5px;
    padding:2px;
    cursor: pointer;
}

.fotter ul li:hover{
    color: #dbd7d7;
}


.products{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px 50px 30px 20px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #d1c9c9;
    padding: 10px 20px;
    box-shadow: -3px 1px 19px -3px rgba(0,0,0,0.52)
}

.productImg{
    width:200px;
    height: 180px;
}

.productName{
    padding:5px;
    font-size: 20px;
    font-weight: 600;
}

.productPrice{
    font-size: 14px;
    padding-left: 5px;
    margin-bottom: 3px;
}
.quantity{
    margin-bottom: 5px;
    padding-left: 5px;
}

.quantity label{
    font-size: 14px;
    padding-right: 5px;
}
.productQuantity{
    width: 20%;
    height: 20px;
}

.addProduct{
    border-radius:10px;
    border: none;
    width: 40%;
    padding:7px;
    margin-top: 5px;
    background-color: #fc8327;
    color: #000;
    cursor: pointer;
}

.addProduct:hover{
    background-color: #d76711;
}

.addProduct:active{
    background-color: #7e3905;
}